

/********  HP TOP BANNER  ******/
#hp_topbanner_mainContainer{
  /*  
    height: 520px;
    position: relative;
    width: 100%;
  */
}
	
	
.hp_topBanner_container{
	background-repeat: no-repeat;
	background-position: center -1;
	margin: 0 auto;
    width: 100%;
    padding-top: 43px;
	/*padding-right: 10px;*/
    height: 468px;
	/*position: absolute;*/
	/*display: none;*/
	left: 0;
	/*visibility: hidden;*/
}

.hp_topBanner_container.active{
	visibility: visible;
	display: block;
}

.hp_topBanner_contentContainer{
	margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    overflow-x: auto;
    overflow-y: auto;
    text-align: right;
    width: 100%;
}

.hp_topBanner_content{
    height: 390px;
    margin-right: 22px;
	width: 730px;
}

.hp_topBanner_contentText{
    color: #075CA1;
    font-family: Reforma,sans-serif;
    height: 240px;
}

.hp_topBanner_contentText h1{
	font-size: 50px;
	font-weight: normal;
	height: 150px;
	margin: 0px;
	line-height: 50px;
	color: #075CA1;
}

.hp_topBanner_contentText h2 {
    font-size: 20px;
	font-weight: normal;
	height: 52px;
	margin: 0px;
	line-height: 20px;
	color: #075CA1;
}

.hp_topBanner_contentNav{
	/*height: 81px;*/
   /* margin-top: 35px;*/
	direction: rtl;
	float: right;
	position: relative;
	height: 0px;
	top: 320px;
	right: 23px;
	width: 600px;
}

.hp_topBanner_contentNav ul{
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
	padding-right: 0px;
	width: 100%;
	margin-right: 0px;
}

.hp_topBanner_contentNav li{
    display: inline-block;
    float: right;
    height: 80px;
    width: 132px;
}

.hp_topBanner_contentNav a{
	text-decoration: none;
}

.hp_topBanner_contentNav li a, .hp_topBanner_contentNav li a:visited{
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    /*background-image: url("../fibiimages/hp/gallery_nav_bgr.png"); --> in presentation template */
    background-origin: padding-box;
    /*background-position: center top;*/
	background-position: 0px 0px;
    background-repeat: no-repeat;
	text-decoration: none;
    background-size: auto auto;
    color: #FFFFFF;
    display: block;
    font-family: Reforma,sans-serif;
    font-size: 16px;
    height: 31px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    position: absolute;
    text-align: center;
    top: 10px;
    width: 92px;
    z-index: 710;
	text-decoration: none;
}

.hp_topBanner_contentNav .firstNavItem a{
    background-position: 0px 0px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 0;
    border-top-right-radius: 3px;
}

.hp_topBanner_contentNav .lastNavItem a{
	width: 91px;
	background-position: center top;
	border-bottom-left-radius: 3px;
    border-bottom-right-radius: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 0;
}


.hp_topBanner_contentNav li.active-marker div.hp_topBanner_nav_link_wrapper .hp_topBanner_nav_link_header {
    visibility: visible;
}

.hp_topBanner_nav_link_wrapper{
	position: relative;
	/*top: 330px;*/
}

.hp_topBanner_nav_link_header{
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    /*background-image: url("../fibiimages/hp/gallery_nav_arrow.png"); --> in presentation template */
    background-origin: padding-box;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: auto auto;
    height: 9px;
    position: absolute;
    top: 1px;
    visibility: hidden;
    width: 133px;
    z-index: 750;
}

.hp_topBanner_contentNav li.active-marker a, .hp_topBanner_contentNav li:hover a, .hp_topBanner_contentNav li a:hover, .hp_topBanner_contentNav li:focus a{
	text-decoration: none;
	background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    /*background-image: url("../fibiimages/hp/gallery_nav_bgr.png"); --> in presentation template */
    background-origin: padding-box;
    background-position: center -71px;
    background-repeat: no-repeat;
    background-size: auto auto;
}

.hp_topBanner_accountLogin{
	float: left;
	height: 0px;
	width: 232px;
	left: 24px;
	top:50px;
	position: relative;	
	z-index: 999;
}

a.hp_button_banner {
    display: block;
    height: 31px;
    line-height: 30px;
    padding: 0 7px;
    /*background: url("../fibiimages/hp/btn_hp_banner.gif") center 0 no-repeat;  --> in presentation template */
    color: #075ca1;
    text-align: center;
    font-size: 15px;
    font-family: Reforma, sans-serif;    
	width: 89px;
	float: right;
	text-decoration: none;
}
a.hp_button_banner:hover {
    /*background: url("../fibiimages/hp/btn_hp_banner.gif") center -31px no-repeat;  --> in presentation template */
    text-decoration: none;
    cursor: pointer;
	width: 89px;
	float: right;
}

/***************************************/



/****** Question & Answers *********/
.question{
	cursor: pointer;
	text-decoration: underline;
}

.openCloseAll{
	cursor: pointer;
}



/****** Dictionary *********/
.lettersSelection {
	float: right;
	width: 100%;
}

.lettersSelection ul{
	list-style-type: none;
	padding: 0;
	direction: rtl;
}

.lettersSelection ul li{
	float: right;
}

.lettersSelection ul li a{
	color: blue;
	text-decoration: none;
}

.lettersSelection ul li a.selected{
	color: blue;
	font-weight: bold;
}

.lettersSelection ul li:focus {
	text-decoration: underline;
}

.lettersSelection ul li a:hover{
	text-decoration: underline;
}

.lettersSelectionMessage{
	float:right;
	direction: rtl;
	width: 100%;
}

.categoriesContainer ul{
	list-style-type: none;
	padding: 0;
	direction: rtl;
	width: 160px;
	height: 500px;
}

.termsContainer ul{
	list-style-type: none;
	padding: 0;
	direction: rtl;
}

.termsContainer li{
	padding-bottom: 20px;
}

.termsContainer  div.termTitle{
	font-weight: bold;
}

.letterPageLink{
	width: 180px;
	float: right;
	border: 1px solid black;
	padding: 10px;
	height: 56px;
}

.letterPageLink a{
	text-decoration: underline;
}

#termsDictionaryContainer{
	width: 950px;
}

.lettersContainer{
	float: right;
	width: 698px;
	border: 1px solid black;
	padding: 10px;
	height: 56px;
}

.categoriesContainer{
	float: right;
	border: 1px solid black;
	padding: 10px;
	width: 180px;
}

.categoriesContainer a{
	text-decoration: none;
	color: blue;
}

.categoriesContainer a.selected{
	text-decoration: underline;
	font-weight: bold;
}

.categoriesContainer ul li a:hover, .categoriesContainer ul li:focus{
	text-decoration: underline;
	cursor: pointer;
}

.termsContainer{
	float: right;
	border: 1px solid black;
	padding: 10px;
	width: 698px;
}


/****** Lobby *********/
.lobbyContainer{
	padding: 10px;
	direction: rtl;
	float: right;
	width: 900px;
}

.lobbyTopBanner {
    border-radius: 7px 7px 7px 7px;
    display: block;
    height: 140px;
    margin-bottom: 12px;
    overflow: hidden;
    width: 480px;
	float: right;
}

.lobbyTopBannerAsImg{
    
}

.lobbyTopBannerAsImg .bannerLink{

}

.lobbyTopBannerAsFlash{

}

.lobbyTopBannerTextAndImg{
	padding: 10px;
	border: 1px solid black;
	background-repeat: no-repeat;
	background-position: 0 0;
	height: 125px;
	margin: 10px;
	width: 858px;
	float: right;
}

.lobbyTopBanner H2{
	text-decoration: underline;
	font-size: 22px;
	font-weight: bold;
}

.lobbyTopBanner P{
	font-size: 14px;
}

.lobbyTopBanner a{
	text-decoration: underline;
	font-size: 14px;
	color: blue;
}

.lobbyCubes{
	direction: rtl;
	width: 490px;
	float: right;
}

.lobbyItemCube {
	float: right;
	direction: rtl;
	border: 1px solid #D6E0E8;
	background-position: 0 0;
	height: 137px;
	border-radius: 7px 7px 7px 7px;
	overflow: hidden;
	margin-left: 10px;
	margin-bottom: 10px;
}

.lobbyCubeType1{
	width: 233px;
}

.lobbyCubeType2{
	width: 480px;
}

.lobbyItemCube .item_img{
	display: block;
	float: right;
	height: 137px;
	width: 78px;
}

.lobbyItemCube .item_content{
	float: right;
	height: 137px;
}

.lobbyCubeType1 .item_content{
	width: 155px;
}

.lobbyCubeType2 .item_content{
	width: 402px;
}

.lobbyItemCube .item_descr{
	height: 68px;
    line-height: 1.2em;
    overflow: hidden;
    padding: 18px 7%;
}

.lobbyItemCube  h2.item_title{
	color: #075CA1;
    font-size: 16px;
    margin: 0 0 10px;
}

.lobbyItemCube .additional_details{
    height: 33px;
    padding: 0;
    width: 100%;
}

.lobbyItemCube .additional_details .read_more{
    color: #FFFFFF;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    height: auto;
    line-height: 33px;
    padding: 0 10px 0 15px;
	text-decoration: none;
}

.lobbyItemCube  H3{
	text-decoration: underline;
	font-size: 17px;
}

.lobbyItemCube  P{

}

.lobbyItemCube  a{
	text-decoration: underline;
	font-size: 14px;
	color: blue;
}

/**********************************************************/



/****** Images Chart *********/

.imagesChartContainer {
	text-align: center;
}

.imageChartBox {
	display: inline-block; 
	width: 100px; 
	height: 100px; 
	padding: 5px; 
	margin: 10px; 
	border: 1px solid blue; 
	font-family: arial;
}



/****** Structured Products *********/

#mainStructuredProductsPageHeaderContainer{
	direction: rtl;
}

#mainStructuredProductsPageTableContainer{
	direction: rtl;
	text-align: right;
	white-space: nowrap;
}

#mainStructuredProductsPageTableContainer table{
	border: 1px solid black;
}
/**********************************************************/


